@import "tailwindcss";

@font-face {
  font-family: "Karla";
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-green-800: hsl(169, 83%, 19%);
  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);

  --font-family-sans: "Karla", sans-serif;
}

@layer base {
  body {
    @apply font-family-sans bg-green-200 text-grey-900;
  }
}
